@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

/* font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
 */

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif
}

.header {
    width: 100%;
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
    color: #75B79E;

    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 47px;

}

.game {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    opacity: 1;
    transition: all 3s;

}



/* .card {
    position: relative;
    background-color: #A7E9AF;
    width: 117;
    height: 146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 0 34px 34px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 500ms;
} */

.card {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #99CEA8;
    margin: 20px;
    width:117px;
    height:146px;
    border-radius: 15px;
    background-color: #A7E9AF;
    transition: all 2s;
}

.front-face {
    position: absolute;
    backface-visibility: hidden;
    width: 100px;
    height: 100px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;

    transition: all .5s;
    transform-style: preserve-3d;
}


.back-face {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;

    transform: rotateY(180deg);

    transition: all .5s;
    transform-style: preserve-3d;

}

.tap-front-face{
    transform: rotateY(-180deg);
}

.untap-back-face{
    transform: rotateY(0deg);
}


.hidden {
    display: none;
}

li {
    list-style-type: none;
}



/* .back-face {
    transform: rotateY(180deg);
}


.to-turn .back-face {
    transform: rotateY(0deg);
    
}

.to-turn .front-face {
    transform: rotateY(-180deg);
} */